<div class=" container card mt-3" >
  <div class="card-header d-flex justify-content-center align-items-center shadow text-dark">
      <h3>AJOUTER ARTICLE</h3>
  </div>

  
  <div class="card-body">
      <div class="">
         <form  [formGroup]="formGroup" (ngSubmit)="addArticle()" class="container">
              <div class="row">
                  <div class="col">
                      <div class="col-md-10">
                          <label for="validationDefault01" class="form-label">Libelle</label>
                          <input (input)="libReference($event)" formControlName="libelle" type="text" class="form-control" id="validationDefault01" required>
                      </div>
                      <div class="col-md-10">
                          <label for="validationDefault01" class="form-label">Prix</label>
                          <input type="number" formControlName="prix" class="form-control" id="validationDefault01" required>
                      </div>
                      <div class="col-md-10">
                          <label for="validationDefault01" class="form-label">Stock</label>
                          <input formControlName="stock" type="number" class="form-control" id="validationDefault01" required>
                      </div>
                      <div class="col-md-10">
                        <label for="validationDefault04" class="form-label">Categorie</label>
                        <select class="form-control" id="validationDefault04" (input)="catReference($event)" formControlName="categorie">
                            <option value="">Sélectionnez une catégorie</option>
                            <option *ngFor="let cat of alls" [value]="cat.libelle">{{ cat.libelle }}</option>
                          </select>
                    </div>

                      <div class="col-md-10">
                          <label for="validationDefault01" class="form-label">Fournisseur</label>
                          <input  type="text"
                            formControlName="fournisseurs"
                             class="form-control" 
                             id="validationDefault01" 
                             required
                             (input)="updateFournisseursAutocomplete()"                          
                             >
                             <div class="fournisseurs-autocomplete">
                                <div [ngStyle]="{'cursor':'pointer'}" *ngFor="let fournisseur of filteredFournisseurs" class="autocomplete-option" (click)="selectFournisseur(fournisseur)">
                                    {{ fournisseur.libelle }}
                                </div>
                            </div>
                            <div class="selected-fournisseurs">
                              <div [ngStyle]="{'cursor':'pointer'}" *ngFor="let selected of selectedFournisseurs; let i = index" class="selected-fournisseur">
                                {{ selected.libelle }}
                                <button type="button" (click)="removeSelectedFournisseur(i)">delete</button>
                              </div>
                            </div>
                          
                      </div>
                  </div>
                  <div class="col border-dark ml-5" >

                    <div class="p-5" >
                      <div class="col-md-4 mb-5" style="height: 150px; width: 300px; border-radius: 1px solid black; ">
                          <label for="photo" class="form-label">PHOTO</label>
                          <input type="file" formControlName="photo" (change)="onPhotoChange($event)" id="photo" accept="image/*" required><br>
                          <img [src]="url" alt="" class="formatImage" 
                          style="width: 100%; height: 100%; object-fit: cover; padding-bottom: 3.75rem;"
                          >
                      </div>
                    </div>

                      <div class="col-md-10 mt-2">
                          <label for="validationDefault01" class="form-label ml-5">Reference</label>
                          <input type="text" class="form-control" id="validationDefault01" formControlName="reference" [value]="formGroup.value.reference" required readonly>
                      </div>

                  </div>
                 </div>
                 <div class="col-md-6 text-right">
                  <button type="submit" class="btn btn-primary"   [disabled]="formGroup.invalid">ajouter</button>
                </div>
              </form>
      </div>
  </div>
</div>



