  <div  class="container justify-content-center">
    <div class="card-header"><h2 class="text-center">Liste des Articles</h2></div>
    <div class="card-body">
      <table class="table">
        <thead>
          <tr>
            <th>Article</th>
            <th>Prix</th>
            <th>Stock</th>
            <th>Categorie</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody style=" padding: 0.2rem;">
            <tr *ngFor="let article of articles" 
            [article]="article"
            (articleDeleted)="deleteArticle($event)"
            (articleEdited)="editArticle($event)" class="app-item">
            </tr>
        </tbody>
        </table>
    </div>

  </div>

  <div class="row mt-3">
    <div class="col-md-12 text-center" class="d-flex justify-content-center">
      <ul class="pagination " >
        <!-- <li class="page-item"><a class="page-link" [ngStyle]="{'cursor':'pointer'}">1</a></li> -->
        <li class="page-item" [ngStyle]="{'cursor':'pointer'}" *ngFor="let link of links" [ngClass]="{'active': link.active}" (click)="pageChange(link.url)"><a class="page-link" [innerHTML]="link.label" ></a></li>
      </ul>
    </div>
</div>
